{% extends "peticion.html" %}
{% load static %}
{% block content %}
<div class="container px-6 py-8 mx-auto">
    <div class="w-full">
        <div class="text-center my-6">
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">Análisis de Mensajes por Empresa</h3>
        </div>
        <div class="bg-white border border-gray-200 rounded-lg shadow-md p-4">
            <!-- Formulario para ingresar la fecha y el nombre de la empresa -->
            <form id="dataForm">
                <div class="mb-4">
                    <label for="empresa" class="block text-sm font-medium text-gray-700">Nombre de la Empresa</label>
                    <input type="text" id="empresa" name="empresa" placeholder="Ingrese 'todas' para mostrar todas" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                </div>
                <div class="mb-4">
                    <label for="fecha" class="block text-sm font-medium text-gray-700">Fecha</label>
                    <input type="date" id="fecha" name="fecha" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                </div>
                <button type="submit" class="inline-flex items-center px-4 py-2 bg-blue-600 text-white font-medium rounded-md hover:bg-blue-700">Enviar</button>
            </form>
            <div class="chart-bar mt-6" id="graphArea">
                <h4 id="chartTitle" class="text-lg font-medium text-center mb-2"></h4>
                <canvas id="grafica" width="200" height="150"></canvas>
            </div>
            <button
                id="generatePDF"
                class="bg-blue-500 transform hover:scale-105 text-white py-2 px-4 rounded"
            >
                Descargar PDF
            </button>
        </div>
    </div>
</div>

<script>
    document.getElementById('dataForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const empresa = document.getElementById('empresa').value;
        let fecha = document.getElementById('fecha').value;

        // Convertir la fecha de yyyy-mm-dd a dd/mm/yyyy
        const [year, month, day] = fecha.split('-');
        fecha = `${day}/${month}/${year}`;

        // Mostrar la fecha y empresa en el título de la gráfica
        document.getElementById('chartTitle').innerText = `Análisis de Mensajes para ${empresa} - Fecha: ${fecha}`;

        // Enviar los datos al backend
        fetch('http://localhost:5000/submit-data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
            },
            body: JSON.stringify({ empresa: empresa, fecha: fecha })
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Error en la respuesta del servidor');
            }
        })
        .then(data => {
            console.log("Datos recibidos:", data);
            graficar(data);
        })
        .catch(error => {
            console.error("Error al enviar los datos:", error);
        });
    });

    function graficar(data) {
        var ctx = document.getElementById('grafica').getContext('2d');
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Positivo', 'Negativo', 'Neutro'],
                datasets: [{
                    label: 'Análisis de Mensajes',
                    data: [data.positivo, data.negativo, data.neutro],
                    backgroundColor: [
                        'rgb(41, 183, 16)',
                        'rgb(190, 33, 33)',
                        'rgb(76, 219, 208)'
                    ],
                    borderColor: [
                        'rgb(0, 200, 0)',
                        'rgb(200, 0, 0)',
                        'rgb(200, 200, 0)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw;
                            }
                        }
                    },
                    // Configuración de datalabels para mostrar el nombre de la categoría en lugar del valor
                    datalabels: {
                        color: 'rgb(255, 255, 255)', // Color del texto
                        anchor: 'center', // Posición relativa al final de la barra
                        align: 'center',  // Alineación del texto dentro de la barra
                        formatter: (value, context) => context.chart.data.labels[context.dataIndex] // Muestra la etiqueta en lugar del valor
                    }
                }
            },
            plugins: [ChartDataLabels] // Habilita el plugin
        });
    }
    
    

    document.getElementById('generatePDF').addEventListener('click', async () => {
        const graphArea = document.getElementById('graphArea');
        
        html2canvas(graphArea, { scale: 2 }).then(async canvas => {
            const imgData = canvas.toDataURL('image/png');
            const { jsPDF } = window.jspdf;
            const pdf = new jsPDF('landscape');
            
            const imgWidth = 280;  // Ajusta el ancho de la imagen
            const imgHeight = canvas.height * imgWidth / canvas.width;
            
            // Ajustar la posición de la imagen para que haya más espacio inferior
            const marginTop = 10;
            const marginLeft = 10;
            pdf.addImage(imgData, 'PNG', marginLeft, marginTop, imgWidth, imgHeight);
            
            const pdfBlob = pdf.output('blob');
            
            // Usar la API de archivos para guardar el PDF
            const handle = await window.showSaveFilePicker({
                suggestedName: 'analysis_report.pdf',
                types: [{
                    description: 'PDF Files',
                    accept: { 'application/pdf': ['.pdf'] }
                }]
            });
            
            const writable = await handle.createWritable();
            await writable.write(pdfBlob);
            await writable.close();
        });
    });
    
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>


{% endblock %}
