{% extends "peticion.html" %}
{% load static %}
{% block content %}

<div class="container px-6 py-8 mx-auto">
    {% if mensaje_error %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Hubo un error!</strong>
        <span class="block sm:inline">{{ mensaje_error }}</span>
        <form 
            class="flex items-center space-x-4 mb-4"
            method="POST"
            enctype="multipart/form-data"
            action="{% url 'CloseAlerts' %}"
        >
            {% csrf_token %}
            <button type="submit" class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>Close</title>
                    <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                </svg>
            </button>
        </form>
    </div>
    {% endif %}

    {% if mensaje_exito %}
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Acción completada!</strong>
        <span class="block sm:inline">{{ mensaje_exito }}</span>
        <form 
            class="flex items-center space-x-4 mb-4"
            method="POST"
            enctype="multipart/form-data"
            action="{% url 'CloseAlerts' %}"
        >
            {% csrf_token %}
            <button type="submit" class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>Close</title>
                    <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                </svg>
            </button>
        </form>
    </div>
    {% endif %}

    <h3 class="text-3xl font-medium text-gray-700">Carga de Ventas XML</h3>

    <!-- Botón para cargar el archivo XML desde el backend -->
    <form method="GET" action="{% url 'get_file' %}">
        <button 
            type="submit" 
            class="bg-blue-500 text-white px-4 py-2 rounded mt-4 hover:bg-blue-600">
            Cargar archivo XML
        </button>
    </form>

    <!-- Área para mostrar el contenido del archivo -->
    <div class="mt-4">
        <textarea class="w-full p-4 border border-neutral-800 text-lg resize-none" rows="30" cols="50" readonly>
            {% if file_content %}
                {{ file_content }}
            {% else %}
                No hay contenido para mostrar.
            {% endif %}
        </textarea>
    </div>
</div>

{% endblock %}
