{% extends "peticion.html" %}
{% load static %}
{% block content %}
<div class="container px-6 py-8 mx-auto">
    <h3 class="text-3xl font-medium text-gray-700">Reporte en PDF</h3>
    <div class="flex items-center justify-around p-4">
        <h4 class="text-3xl font-medium text-gray-700">Reporte por fecha</h4>
        <embed type="application/pdf" src="{% static 'files/analysis_report.pdf' %}" class="w-full" height="750">
    </div>
    <div class="flex items-center justify-around p-4">
        <h4 class="text-3xl font-medium text-gray-700">Reporte por rango de fechas</h4>

        <embed type="application/pdf" src="{% static 'files/analysis_byrange_report.pdf' %}" class="w-full" height="750">
    </div>
</div>
{% endblock %}